.container {
    margin-top: 20px;
    padding: 10px;
}


.intro {}

p {
    font-size: 16px;
    font-weight: 500;
}

.container-section {
    border: 1px solid #000;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;

}

.title {
    text-align: center;
}