html,
body {
    height: 100%;
    /* Set height to 100% to allow Flexbox to work properly */
    margin: 0;
 
    /* Remove default margins */
    font-family: 'Cairo', sans-serif;
}

body {
    display: flex;
    /* Use Flexbox */
    flex-direction: column;
    /* Stack children vertically */
}
   .container {
     
   }
        .content {
            flex: 1 !important;
            /* يجعل القسم الرئيسي يأخذ المساحة المتاحة */
        }

   /* Header */
   .header {
       background-color: #d32f2f;
       padding: 20px 0;
       color: #fff;
       text-align: center;
   }

   .navbar {
       margin-top: 10px;
   }

   .navbar a {
       color: #fff;
       text-decoration: none;
       margin: 0 15px;
       font-weight: bold;
   }

   .navbar a:hover {
       text-decoration: underline;
   }

   /* Footer */
        .footer {
            background-color: #d32f2f;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 0 !important;

        }
    
        .footer p {
                        color: #fff !important;
            margin: 0;
        }

  
   /* القسم الخاص بصفحة حولنا */
   .about-section {
       padding: 50px 0;
       background-color: #f9f9f9;
       direction: rtl;
       /* دعم اتجاه النص من اليمين إلى اليسار */
       text-align: right;
       /* محاذاة النص إلى اليمين */
   }

   .container {
       width: 85%;
       margin: 0 auto;
   }

   h1,
   h2,
   h3 {
       color: #ff3b3f;
       /* اللون الأحمر الدموي */
   }

   p {
       font-size: 16px;
       line-height: 1.8;
       color: #555;
   }

   .statistics {
       display: flex;
       justify-content: space-between;
       margin: 30px 0;
       flex-wrap: wrap;
   }

   .stat-item {
       flex: 1;
       min-width: 150px;
       margin: 10px;
       text-align: center;
   }

   .stat-item h3 {
       font-size: 36px;
       color: #ff3b3f;
   }

   .stat-item p {
       font-size: 18px;
       color: #333;
   }

   .headertitle {
       color: #fff;
       /* اللون الأحمر الدموي */

   }

   .team-members {
       display: flex;
       justify-content: space-between;
       margin: 20px 0;
       flex-wrap: wrap;
   }

   .team-member {
       flex: 1;
       min-width: 150px;
       margin: 10px;
       text-align: center;
   }

   .team-member h3 {
       font-size: 22px;
       color: #333;
   }

   .contact a {
       color: #ff3b3f;
       text-decoration: none;
   }

   @media (max-width: 768px) {

       .statistics,
       .team-members {
           flex-direction: column;
           align-items: center;
       }

       .stat-item,
       .team-member {
           min-width: 100%;
       }
   }